<div data-test-editor-post-status ...attributes>
    {{#if this.isSaving}}
        {{t "editor.post-status.Saving"}}
    {{else if (or @post.isPublished @post.pastScheduledTime)}}
        {{t "editor.post-status.Published"}}
        {{#if (or (eq @post.email.status "submitting") (eq @post.email.status "submitting"))}}
            {{t "editor.post-status.and sending to"}} {{gh-pluralize @post.email.emailCount "member"}}
        {{else if (eq @post.email.status "submitted")}}
            {{t "editor.post-status.and sent to"}} {{gh-pluralize @post.email.emailCount "member"}}
        {{/if}}
    {{else if @post.isScheduled}}
        <time datetime="{{@post.publishedAtUTC}}" class="ml1 green f8" data-test-schedule-countdown>
            {{t "editor.post-status.Will be published"}}
            {{#if @post.emailRecipientFilter}}
                {{t "editor.post-status.and sent to"}} <GhRecipientFilterCount @filter={{@post.emailRecipientFilter}} />
            {{/if}}
            {{this.scheduledTime}}
        </time>
    {{else if @post.isNew}}
        {{t "editor.post-status.New"}}
    {{else}}
        {{t "editor.post-status.Draft"}}
        {{if not @hasDirtyAttributes}}
        {{t 'editor.post-status.Saved'}}
    {{/if}}
</div>